body{
    font-size: 16px;
    color: #000;
    font-family: cursive;
}

/*HEADER*/
#header-nav{
    background-color: #6c757d;
}
.navbar-header{
    margin: 0px 10px;
}
.navbar-brand{
    font-size: 1.8em;
    font-weight: 700;
}
button.navbar-toggler{
    padding:2px ;
}
button.navbar-toggler:focus{
    border: 3px solid #000;
    box-shadow: none;
}
#menu-icon{
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 2px;
}
.icon-bar {
    border: 2px solid #000;
    width: 100%;
}
a,a:focus,a:hover{
    text-decoration: none;
    color: #000;
}
#navbarNav{
    width: 106%;
    margin-left: -3%;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    background-color: #9ba6af;
}

#hr {
    display: block;
    height: 3px;
    width: 100%;
    margin: 5px;
    border: 1px solid black;
}
#nav-list li a{
    font-size: 1.2em;
}
/*END OF HEADER*/
/*MAIN CONTENT*/
#menu-categories-title{
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 15px;
    margin-top: 15px;
}
.menu-tile-title{
    font-weight: 700;
    font-size: 1.2em;
}
#menu-tile{
    background-color: #6c757d;
    padding: 10px;
    margin-bottom: 15px;
}

  
